{% set bodyClass = '' %}
{% set entry = entry ?? null %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>{{ entry ? entry.title ~ ' - ' }}{{ currentSite ? currentSite.name }}</title>
		<meta name="description" content="A new website to be enjoyed by many visitors">
		<meta name="author" content="Clark Nelson and Company">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>

		<meta property="og:title" content="Your Website Title">
		<meta property="og:description" content="A brief description of your page or website.">
		<meta property="og:image" content="/path/to/og-image.jpg">
		<meta property="og:url" content="https://www.yourwebsite.com">
		<meta property="og:type" content="website">

		<meta property="og:title" content="Your Page Title">
		<meta property="og:description" content="A brief description of the page content.">
		<meta property="og:image" content="https://www.yoursite.com/image.jpg">
		<meta property="og:url" content="https://www.yoursite.com/your-page-url">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Your Page Title">
		<meta name="twitter:description" content="A brief description of the page content.">
		<meta name="twitter:image" content="https://www.yoursite.com/image.jpg">

		{% block head %}
			{# Place for more script imports or meta information if needed #}
		{% endblock %}

		{% css %}
		{{craft.app.view.renderFile('@webroot/dist/styles/critical.css') | raw}}
		{% endcss %}
	</head>

	<body class="{{ bodyClass }}">
		<link rel="preload" href="/dist/styles/main.css" as="style" onload="this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="/dist/styles/main.css"></noscript>

		<div class="drawer">
			<input id="my-drawer-3" type="checkbox" class="drawer-toggle"/>
			<div class="drawer-content flex flex-col">
				<div class="navbar bg-base-300 w-full">
					<div class="flex-none lg:hidden">
						<label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" class="inline-block h-6 w-6 stroke-current">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
							</svg>
						</label>
					</div>
					<div class="mx-2 flex-1 px-2">
						<a href="/">{{ currentSite.name }}</a>
					</div>
					<div class="hidden flex-none lg:block">
						<ul class="menu menu-horizontal">
							{% for item in globals.menuItems.all() %}
								<li>
									<a href="{{ item.menuLink }}">{{ item.menuText }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>

			<div class="drawer-side">
				<label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
				<ul class="menu bg-base-200 min-h-full w-80 p-4">
					{% for item in globals.menuItems.all() %}
						<li>
							<a href="{{ item.menuLink }}">{{ item.menuText }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% block content %}
			{# Placeholder content to be replaced in each template #}
		{% endblock %}

		<footer class="footer footer-center bg-base-300 text-base-content p-4">
			<aside>
				<p>Copyright ©
					{{ now | date('Y') }}
					- {{ currentSite.name }}</p>
			</aside>
		</footer>

		 <script src="/dist/scripts/main.js"></script>
	</body>
</html>
